@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
    scroll-behavior: smooth;
}

body {
    background: url(img/minimal_008.png);
    color: white;
    background-position: center;
    background-position: top;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

header .icon {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 3.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
    background: #fff;
    color: #2b1055;
}

h1 {
    text-align: center;
    font-size: 70px;
    margin-top: 20%;
}

p {
    text-align: center;
    font-size: 40px;
    margin-bottom: -10%;
}

h6{
    font-size: 10px;
    font-style: italic;
    margin-left: 15%;
}

.blur-box {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    margin: 35% auto;
    max-width: 900px;
}